poetry
dotenv
pypdf
scipy
jupyterlab
ipykernel
ipywidgets
sounddevice
langchain
langsmith
langchain_core
langchain-community
langchain-text-splitters
langchain-mcp-adapters
langchain-model-profiles
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-google-vertexai
langchain_ollama
langchain-tavily
langgraph
langgraph-cli
langgraph-api
huggingface_hub
tavily
tavily-python
mcp
mcp-server-time
google-auth
google-auth-oauthlib
streamlit
pillow
fastmcp
fastapi
